.uihooks-components-header-wrap {
  background: #fff;
  display: flex;
  flex-direction: column;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #eee;
  flex-shrink: 0;
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  align-items: center;
  justify-content: center;
}

.uihooks-components-header-body {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  width: 100%;
  min-height: 80px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.uihooks-components-header-body-left {
  flex-shrink: 0;
  min-width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.uihooks-components-header-body-right {
  flex-shrink: 0;
  min-width: 100px;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.uihooks-components-header-body-center {
  flex-grow: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.uihooks-components-header-left-back-btn {
  margin-left: 12px;
  width: 56px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uihooks-components-header-left-back-icon-white-wrap {
  width: 48px;
  height: 48px;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 999px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uihooks-components-header-left-back-icon-white {
  width: 36px;
  height: 36px;
}

.uihooks-components-header-left-back-icon-black {
  width: 56px;
  height: 56px;
}

.uihooks-components-header-body-center-title {
  font-size: 36px;
  font-weight: 500;
  color: #192038;
  line-height: 52px;
  /* postcss-pxtransform rn eject enable */
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  /* postcss-pxtransform rn eject disable */
}
