dist/
deploy_versions/
.temp/
.rn_temp/
node_modules/
.DS_Store
.swc
rn-src
src-rn

# 只保留app.json/dist.zip
dgz/*
!dgz/build
dgz/build/*
!dgz/build/outputs
dgz/build/outputs/*
!dgz/build/outputs/app.json
!dgz/build/outputs/dist.zip
# 只保留app.json/dist.zip