
.component-item-item-wrap {
  position: relative;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 318px;
}

.component-item-item-img-wrap{
  position: relative;
  width: 286px;
  height: 404px;
  overflow: hidden;
  border-radius: 10px;
  background: #eee;
}

.component-item-item-img {
  width: 286px;
  height: 404px;
  overflow: hidden;
}
.component-item-item-info-wrap {
  margin-bottom: 20px;
}

.component-item-item-name-wrap {
  width: 286px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-item-item-name {
  color: #ccc;
  font-size: 28px;
  font-weight: 700;
}

.component-item-item-sub-wrap {
  width: 286px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.component-item-item-sub {
  color: #999;
  font-size: 26px;
}


.component-item-item-info-left-top-tags-wrap {
  position: absolute;
  left: 0;
  top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.component-item-item-info-right-bottom-tags-wrap {
  position: absolute;
  bottom: 20px;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.component-item-item-tags-wrap {
  background-color: rgba(255,0, 0, .8);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.component-item-item-tags-text {
  color: #fff;
  font-size: 24px;
  line-height: 26px;
}
