.pages-downlist-wrap {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  flex: 1;
  flex-grow: 2;
  background-color: #222222;
}

.pages-downlist-body-wrap {
  flex-grow: 2;
  height: 0;
  display: flex;
}

.pages-downlist-scroll-view {
  flex-grow: 2;
}

.pages-downlist-scroll-body {
  display: flex;
  flex-direction: column;
 
}

.pages-downlist-play-list-wrap {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  margin-bottom: 20px;
  background-color: #222222;
}

.paegs-downlist-play-item-wrap {
  display: flex;
  box-sizing: border-box;
  width: 28%;
  margin: 0 15px;
  border-bottom: 2px solid #ddd;
  height: 80px;
  align-items: center;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}
.paegs-downlist-play-item-wrap-on {
  background: red;
}

.paegs-downlist-play-item-name {
  font-size: 32px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.paegs-downlist-play-item-name-on {
  color: #fff;
}

.pages-downlist-book-info-wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

.pages-downlist-book-info-header {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.pages-downlist-book-info-left {
  flex-shrink: 0;
}

.pages-downlist-book-info-img-wrap {
  width: 200px;
  height: 200px;
  margin-right: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.pages-downlist-book-info-img {
  width: 200px;
  height: 200px;
}

.pages-downlist-book-info-right {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.pages-downlist-book-info-name-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 32px;
  font-weight: 600;
  color: #fff;
}

.pages-downlist-play-list-header {
  margin-bottom: 20px;
  padding: 30px 0;
  border-bottom: 2px solid #ddd;
}

.pages-downlist-box-title {
  font-weight: 700;
  color: #fff;
  font-size: 36px;
}

.paegs-downlist-play-items-wrap { 
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.pages-downlist-book-info-context-wrap {
  padding: 0 30px;
  
}


.pages-downlist-yp-context {
  color: #fff;
  font-size: 30px;
  display: flex;
  line-height: 40px;
  text-align: justify;
}

.pages-downlist-book-moviedteail-wrap {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.pages-downlist-book-info-moviedteail-list-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.pages-downlist-book-moviedteail-text {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 24px;
}

.pages-downlist-book-info-name-wrap {
  margin-bottom: 10px;
}