.uihooks-components-toast-interview-container {
  width: 100%;
  height: 100%;
  transition: 1s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.uihooks-components-toast-interview-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.65);
  position: absolute;

  // position: fixed;
  top: 0;
  left: 0;
}

.uihooks-components-toast-interview-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.uihooks-components-toast-operation-box-wrap {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.uihooks-components-toast-operation-box {
  position: relative;
  min-width: 250px;
  height: 80px;
  background: #000;
  border-radius: 16px;
  overflow: hidden;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uihooks-components-toast-operation-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.uihooks-components-toast-content-text {
  font-size: 28px;
  color: #fff;
}