.uihooks-components-modal-interview-container {
  width: 100%;
  height: 100%;
  transition: 1s all ease;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.uihooks-components-modal-interview-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(33, 33, 33, 0.65);
  position: absolute;

  // position: fixed;
  top: 0;
  left: 0;
}

.uihooks-components-modal-interview-bg-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.uihooks-components-modal-operation-box-wrap {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.uihooks-components-modal-operation-box {
  position: relative;
  width: 586px;
  min-height: 362px;
  background: #fff;
  border-radius: 16px;
  overflow: hidden;
  margin: auto;
}

.uihooks-components-modal-operation-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.uihooks-components-modal-operation-box-content {
  width: 586px;
  min-height: 362px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 48px;
  margin: auto;
  position: relative;
  z-index: 2;
}

.uihooks-components-modal-operation-title {
  width: 100%;
  height: 52px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uihooks-components-modal-operation-title-text {
  font-size: 36px;
  font-weight: 600;
  color: #192038;
}

.uihooks-components-modal-operation-disc {
  width: 100%;
  min-height: 46px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.uihooks-components-modal-operation-disc-text {
  width: 100%;
  font-size: 30px;
  font-weight: 400;
  color: #414c6e;
  line-height: 46px;
  word-wrap: break-word;
  text-align: center;
}

.uihooks-components-modal-operation-config-btn {
  flex-grow: 2;
  width: 0;
  height: 88px;
  line-height: 48px;
  color: #fff;
  background-color: #4172f5;
  border-radius: 44px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.uihooks-components-modal-operation-config-btn-text {
  font-size: 32px;
  font-weight: 400;
}

.uihooks-components-modal-operation-config-btn-error {
  background-color: #ff6b3a;
}

.on-cancel {
  background-color: #f7f9ff;
  color: #414c6e;
}

.footer-wrap {
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.uihooks-components-modal-operation-box-content-icon-wrap {
  margin-top: -150px;
  width: 200px;
  height: 200px;
}

.uihooks-components-modal-operation-box-content-icon-img {
  display: block;
  width: 100%;
  height: 100%;
}

.uihooks-components-modal-operation-box-content-theme3-icon-wrap {
  // position: absolute;
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: center;
  align-items: center;
}

.uihooks-components-modal-operation-box-content-theme3-icon-content {
  width: 400px;
  height: 80px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.uihooks-components-modal-operation-box-content-theme3-icon-content-bg {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 0;
  width: 400px;
  height: 80px;
}

.uihooks-components-modal-operation-box-content-theme3-icon-content-icon {
  position: relative;
  z-index: 3;
  width: 320px;
  height: 56px;
}
