.uihooks-env-type-class-wrap {
  position: absolute;
  padding-top: 20px;
  top: -20px;
  right: -120px;
  width: 300px;
  height: 100px;
  z-index: 9999;
  background-color: #C20C0C;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
  /* RN排除以下代码 */
  /* #ifndef RN */ 
  pointer-events: none;
  transform: rotate(45deg);
  /* #endif RN */ 
}