.__global_pages_404_wrap__ {
  background-color: #fff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow: hidden;
  position: absolute !important;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.__global_pages_404_wrap_body_wrap__ {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.__global_pages_404_wrap_body_wrap_404__ {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.__global_pages_404_wrap_body_wrap_404_image_wrap__ {
  width: 400px;
  height: 400px;
}

.__global_pages_404_wrap_body_wrap_404_image__ {
  width: 400px;
  height: 400px;
  display: block;
}
.__global_pages_404_wrap_body_wrap_404_text__ {
  font-size: 30px;
  font-weight: 400;
  color: #757FA1;
  line-height: 46px;
}